
body {
  padding: 0;
  margin: 0;
  background-color: white;
}

.container {
  background-color:white;
  display: flex;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
  #red {
  border-top-color: #f00;
  height: 200px;
  width: 400px;
  border-radius: 275px 275px 0 0;
  position: relative;
}

#orange {
  border-top-color: #ffa500;
  height: 180px;
  width: 360px;
  top: 20px;
  left: 20px;
  border-radius: 275px 275px 0 0;
  position: relative;
}

#yellow {
  border-top-color: #ff0;
  height: 160px;
  width: 320px;
  top: 20px;
  left: 20px;
  border-radius: 275px 275px 0 0;
  position: relative;
}

#green {
  border-top-color: #00bc3f;
  height: 140px;
  width: 280px;
  top: 20px;
  left: 20px;
  border-radius: 275px 275px 0 0;
  position: relative;
}

#blue {
  border-top-color: #06f;
  height: 120px;
  width: 240px;
  top: 20px;
  left: 20px;
  border-radius: 275px 275px 0 0;
  position: relative;
}

#indigo {
  border-top-color: #8a2be2;
  height: 100px;
  width: 200px;
  top: 20px;
  left: 20px;
  border-radius: 275px 275px 0 0;
  position: relative;
}
#violet {
  border-top-color: #d300c9;
  height: 80px;
  width: 160px;
  top: 20px;
  left: 20px;
  border-radius: 275px 275px 0 0;
  position: relative;
}